# git submodule update --init

[submodule "deep_sort"]
	path = public
	url = https://github.com/nwojke/deep_sort.git
	branch = main

[submodule "FairMOT"]
	path = public
	url = https://github.com/ifzhang/FairMOT.git
	branch = main