# git submodule update --init

[submodule "deep_sort"]
	path = deep_sort
	url = https://github.com/nwojke/deep_sort.git
	ignore = dirty

[submodule "FairMOT"]
	path = FairMOT
	url = https://github.com/ifzhang/FairMOT.git
	ignore = dirty